{% macro respimg(path, img, sizes, alt, lazy=false) %}
	<picture class="post-art">
		<source type="image/webp"
			sizes="{{ sizes }}"
			srcset="
				{{ path }}{{ img }}-1.webp 600w,
				{{ path }}{{ img }}-2.webp 799w,
				{{ path }}{{ img }}-3.webp 1000w,
				{{ path }}{{ img }}-4.webp 1400w,
				{{ path }}{{ img }}-5.webp 2000w,
				{{ path }}{{ img }}-6.webp 2400w">
		<img 
			sizes="{{ sizes }}"
			srcset="
				{{ path }}{{ img }}-1.jpg 600w,
				{{ path }}{{ img }}-2.jpg 799w,
				{{ path }}{{ img }}-3.jpg 1000w,
				{{ path }}{{ img }}-4.jpg 1400w,
				{{ path }}{{ img }}-5.jpg 2000w,
				{{ path }}{{ img }}-6.jpg 2400w"
			src="{{ path }}{{ img }}-6.jpg" 
			alt="{{ alt }}">
	</picture>
{% endmacro %}<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ data.name }}">
		<link rel="canonical" href="{{ data.url }}">

		<title>{{ data.name }}</title>
		<meta name="description" content="{{ data.description }}">

		<meta name="application-name" content="{{ data.name }}">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Icons, platform-specific theme stuff, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">
		
		<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">
		<meta name="theme-color" content="#6d252e">
		<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

		<!-- Half my site’s transfer is in `meta` nonsense. -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ data.url }}",
				"title": "{{ data.name }}",
				"author_name": "{{ data.author.name }}",
				"logo": "{{ data.url }}/_assets/img/card.jpg",
				"sameAs" : [
					"https://twitter.com/redsesame"
				] 
			}
		</script>

		<!-- Twitter/Slack cards: -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@redsesame">
		<meta name="twitter:creator" content="@redsesame">
		<meta name="twitter:title" content="{{ data.name }}">
		<meta property="og:title" content="{{ data.name }}">
		<meta property="og:url" content="{{ data.url }}">

		<meta name="twitter:description" content="{{ title }}">
		<meta property="og:description" content="{{ title }}">

		<meta name="twitter:image" content="{{ data.url }}/_assets/img/card.jpg">
		<meta name="twitter:image:alt" content="{{ data.name }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/card.jpg">
		<meta property="og:image:alt" content="{{ data.name }}">

		<meta name="author" content="{{ data.author.name }}">

		<link rel="stylesheet" type="text/css" href="/_assets/css/all.css">
	</head>
	<body {% if art %}style="background-image: url(/_assets/img/{{ art }});"{% endif %}>
		{% if img %}
		{{ respimg('/blog/img/', img, "100vw", alt ) }}
		{% endif %}
		<header class="site-head">
			<div class="sub-body">
				<h1 class="logo"><a href="/"><img src="/_assets/img/logo.svg" alt="{{ data.name | safe }}"></a></h1>
			</div>
		</header>

		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			<div class="body">
				{{ layoutContent | safe }}
			</div>
		</main>

		<footer class="site-foot">
			<div class="foot-wrap">
				<div class="sub-body">
					{% set bios = collections.bios | reverse %}
					{%- for bio in bios -%}
						{% include "bio.njk" %}
					{%- endfor -%}
				</div>
				<div class="foot-details">
				{% if artcredit %}
					<p class="credit">Header art by {% if arturl %}<a href="{{ arturl | url }}">{% endif %}{{ artcredit | safe }}{% if arturl %}</a>{% endif %}</p>
{% endif %}
					<p class="copyright">Copyright 2012–2019 Lisa Maria Martin</p>

				</div>
			</div>
		</footer>

		<script>
			if( 'serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
				navigator.serviceWorker.register('sw.js');
			}
		</script>
	</body>
</html>
