---
layout: base.njk
templateClass: tmpl-blog
---

<div class="sub-body">
	<p class="lede page-lede">{{ lede | safe }}</p>
	<h2 class="page-hed">{{ title | safe }}</h2>
	<div class="hero">
		{{ content | safe }}
	</div>
</div>
<div class="sub-body">
	<h3 class="year-hed">2019</h3>
	<h4 class="month-hed">February</h4>

	{% for post in collections.blogposts  %}
	{% if post.url != "/blog/" %}
		<div class="post">
			<h5 class="post-hed"><a href="{{ post.url | url }} ">{{ post.data.title }}</a></h5>
			<p>{{ post.data.lede }}</p>
		</div>
		{% endif %}
	{% endfor %}
</div>