---
layout: base.njk
templateClass: tmpl-blog
pagination:
  data: collections.blogposts
  size: 10
  reverse: true
  alias: posts
---

<div class="sub-body">
	<p class="lede page-lede">{{ lede | safe }}</p>
	<h2 class="page-hed">{{ title | safe }}</h2>
	<div class="hero">
		{{ content | safe }}
	</div>
</div>
<div class="sub-body blog-index">
	{% asyncEach post in posts %}
		{% set newYear = post.date | yearOnly %}
		{% set newMonth = post.date | monthOnly %}

		{% if prevYear != newYear %}
			{% set prevYear = post.date | yearOnly %}
			<h3 class="year-hed">{{ prevYear }}</h3>
		{% endif %}

		{% if prevMonth != newMonth %}
			{% set prevMonth = post.date | monthOnly %}
			<h4 class="month-hed">{{ prevMonth }}</h4>
		{% endif %}

		<div class="post">
			<h5 class="post-hed"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h5>
			<p>{{ post.data.lede }}</p>
		</div>
	{% endeach %}

	{% if pagination.previousPageHref or pagination.nextPageHref %}
	<nav class="pagination">
		{% if pagination.previousPageHref %}
		<a href="{{ pagination.previousPageHref }}" class="newer">Newer</a>
		{% endif %}

		{% if pagination.nextPageHref %}
		<a href="{{ pagination.nextPageHref }}" class="older">Older</a>
		{% endif %}
	</nav>
	{% endif %}

	{% if pagination.nextPageHref | length == 0 %}
		<a href="https://archive.thefutureislikepie.com/home/writing/" class="blog-archive">Archived Posts</a>
	{% endif %}

</div>