---
layout: base.njk
templateClass: tmpl-post
permalink : /{{page.fileSlug}}/
---

<div class="sub-body">
	{% if date %}
	<p class="postdate">{{ date | formatDate }}</p>
	{% endif %}
	<h2 class="page-hed">{{ title | safe }}</h2>
	<div class="hero">
		<p>{{ lede | safe }}</p>
	</div>
	<div class="post-copy">
		{{ content | safe }}
	</div>
</div>