<section class="sub sub-{{  section.data.pageClass }}" role="region" aria-labelledby="section-{{  section.data.pageClass }}">
	<svg viewBox="0 0 464 48" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" class="accent" aria-hidden="true">
		<path d="M232.524 48.002a81.633 81.633 0 0 0-1.048 0C223.676 25.723 129.472 7.04.342 0h463.316c-129.13 7.04-223.334 25.723-231.134 48.002z" fill-rule="evenodd"/>
	</svg>
	<div class="sub-body">
		<h2 class="section-hed txt-shaded" id="section-{{ section.data.pageClass }}">{{ section.data.title | safe }}</h2>
		{% if section.data.lede %}
			<p class="lede">{{ section.data.lede | safe }}</p>
		{% endif %}
		{{ section.data.content | safe }}
	</div>
</section>
