/*
White:
	#f2fafe;
	rgba(242,250,254,1)

Red: 
	#f04938;
	rgba(240, 73, 56, 1);

Teal:;
	#00a9b3;
	rgba(0, 169, 179, 1);

Grey:
	#414042;
	rgba(65, 64, 66, 1);
*/
main {
	background: #f2fafe;
}

a {
	color: #00a9b3;
	transition: color .2s linear, text-decoration-color .2s linear;
	text-decoration-color: rgba(242,250,254,1);
	font-weight: normal;
	box-decoration-break: clone;
	text-decoration-skip: ink;
}
a:hover {
	color: #f04938;
	text-decoration-color: transparent;
	cursor: pointer;
}
a:focus {
	box-shadow: none;
	outline: 2px dotted rgba(65, 64, 66, 1);
	text-decoration: none;
}
.hero a {
	text-decoration-color: rgba(240, 73, 56, 1);
}
.hero p, .hero li,
.inv p, .inv li {
	color: #414042;
}

.logo a:focus {
	outline: 2px dotted rgba(242,250,254,.9);
}

li:before {
 color: #00a9b3;
}
.site-head {
	background: #f04938;
	color: #f2fafe;
}

/* Type */
.page-hed {
	color: #00a9b3;
}

.site-head {
	border-top: .5em solid #2a2a2a;
}

.head {
	color: #414042;
}

.postdate,
.month-hed {
	color: rgba(65, 64, 66, .8);
}

/* Panel theming */
.sub {
	background: #2b2c2b;
	color: rgba(242,250,254,.9);
	border-top: .45em solid #f2fafe;
}
.sub .accent {
	content: "";
	display: block;
	position: relative;
	height: .85em;
	width: 8em;
	margin: 0 auto;
	margin-top: -1px;
	z-index: 3;
	fill: #f2fafe;
}
.bio a,
.sub a {
	background: rgba(0,0,0,.85);
	color: #fff;
	transition: background .2s linear, text-decoration-color .2s linear;
	padding: 0 2px;
	border-radius: .15em;
}
.bio a:hover,
.sub a:hover {
	background: rgba(0,0,0,1);
	text-decoration-color: transparent;
}
.bio a:focus,
.sub a:focus {
	outline: 2px dotted rgba(242,250,254,.8);
}

.sub:nth-of-type(2n) {
	background: #0098a1;
}
.sub:nth-of-type(2n) a {
	color:  #343534;
}
.sub:nth-of-type(2n) a:hover {
	color: #f2fafe;
}
.sub:nth-of-type(2n) .accent {
	fill: #f2fafe;
}
.sub:nth-of-type(2n) li:before {
	color: #414042;
}

.sub:nth-of-type(3n) {
	background: #d34132;
	border-color: #414042;
}
.sub:nth-of-type(3n) .accent {
	fill:  #414042;
}
.sub:nth-of-type(2n) a,
.sub:nth-of-type(3n) a {
	background: rgba(0,0,0,.2);
	color: #f2fafe;
	transition: background .2s linear;
	display: inline-block;
	padding: 0 2px;
	border-radius: .15em;
}
.sub:nth-of-type(2n) a:hover,
.sub:nth-of-type(3n) a:hover {
	background:  rgba(0,0,0,.35);
}
.sub:nth-of-type(4n) {
	color: #414042;
	background: #f2fafe;
	border-color: #479ea3;
}

.sub:nth-of-type(4n) a {
	background: rgba(0, 169, 179, .1);
	color: #414042;
	text-decoration: underline;
}
.sub:nth-of-type(4n) a:hover {
	background: rgba(0, 169, 179, .25);
	color: #414042;
	text-decoration-color: transparent;
}
.sub:nth-of-type(4n) a:focus {
	outline: 2px dotted rgba(0,0,0,.8);
}
.sub:nth-of-type(4n) .section-hed {
	color: #414042;
}
.sub:nth-of-type(4n) li:before {
	color: #479ea3;
}
.sub:nth-of-type(4n) .accent {
	fill: #479ea3;
}
.sub:nth-of-type(4n) .section-hed:after {
	border-color: #414042;
}
.sub:nth-of-type(4n) p,
.sub:nth-of-type(4n) li {
	color: #414042;
}

.site-foot {
	border-top: .45em solid #f04938;
}

.bio {
	color: #f2fafe;
}

.foot-details {
	background: rgba(0,0,0,.2);
	border-top: 1px solid rgba(0,0,0,.25);
}

.credit,
.copyright {
	color: rgba(242,250,254,.5);
}

.credit a {
	color: rgba(242,250,254,.75);
}

.avatar {
	border: .35em solid #f2fafe;
}

label {
	color: #f2fafe;
}


input[type="email"] {
	color: rgba(65, 64, 66, .8);
}
input[type="email"]:valid {
	color: rgba(65, 64, 66, 1);
}
