/* Adelle Sans */
@font-face {
    font-family: 'Domaine';
    src: url('/_assets/fonts/Domaine.woff2') format('woff2'),
        url('/_assets/fonts/Domaine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Domaine';
    src: url('/_assets/fonts/Domaine-Italic.woff2') format('woff2'),
        url('/_assets/fonts/Domaine-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Domaine';
    src: url('/_assets/fonts/Domaine-Bold.woff2') format('woff2'),
        url('/_assets/fonts/Domaine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Domaine';
    src: url('/_assets/fonts/Domaine-BoldItal.woff2') format('woff2'),
        url('/_assets/fonts/Domaine-BoldItal.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Sofia Pro Soft */
@font-face {
    font-family: 'Sofia';
    src: url('/_assets/fonts/SofiaProSoftBold.woff2') format('woff2'),
        url('/_assets/fonts/SofiaProSoftBold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sofia';
    src: url('/_assets/fonts/SofiaProSoftReg.woff2') format('woff2'),
        url('/_assets/fonts/SofiaProSoftReg.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sofia';
    src: url('/_assets/fonts/SofiaProSoftLight.woff2') format('woff2'),
        url('/_assets/fonts/SofiaProSoftLight.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

p {
    font-family: Domaine, serif;
    font-weight: normal;
    font-size: .9em;
    line-height: 1.4;
    max-width: 45em;
}
@media( min-width: 39.25em ) {
    p {
        font-size: 2.75vw;
    }
}
@media( min-width: 45em ) {
    p {
        font-size: 1em;
        line-height: 1.5;
    }
}
ul {
    list-style: none;
    padding: 0;
}
@media(min-width: 40em ) {
    ul {
        margin-left: 2.5%;
    }
}
li {
    font-family: Domaine, serif;
    margin: .85em 10% .85em 0;
    padding-left: .75em;
    line-height: 1.4;
    margin-left: 0;
    position: relative;
    font-size: .875em;
}
@media( min-width: 40em ) {
    li {
        font-size: 2.685vw;
    }
}
@media( min-width: 45em ) {
    li {
        font-size: .98em;
    }
}

li:before {
    content: "\2022";
    display: block;
    line-height: 1.3;
    position: absolute;
    left: 0;
    top: 0;
}

.sub {
    font-size: 1.2em;
    line-height: 1.3;
}

.section-hed {
    font-family: Sofia, sans-serif;
    text-transform: uppercase;
    font-size: 1.65em;
    margin-bottom: 0;
    letter-spacing: .04em;
    font-weight: 400;
}

.section-hed {
    display: flex;
}
.section-hed:after {
    border: solid rgba(255,255,255,.9);
    content: "";
    display: block;
    flex-grow: 2;
    margin: .4em 0 .25em 3em;
    border-width: 3px 3px 0 0;
}

.lede {
    font-size: 1.3em;
    line-height: 1.25;
    font-family: Sofia, sans-serif;
    font-weight: 100;
    margin: 0 0 1.25em 0;
}

.lede strong {
    font-weight: 800;
}

.bio-hed {
    margin-bottom: .5em;
    font-weight: 400;
}

.page-hed {
    font-family: Sofia, sans-serif;
    font-size: 1.55em;
    line-height: 1.1;
    font-weight: normal;
    margin: 2em 0 1em 0;
    padding-bottom: 1em;
    position: relative;
}
.tmpl-post .page-hed {
    margin-top: 0;
}
.page-hed:after {
    content:"";
    display: block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background: #f04938;
    position: absolute;
    bottom: 0;
    left: 0;
}
@media( min-width: 35.5em ) {
    .page-hed {
        font-size: 4.35vw;
    }
}
@media( min-width: 55em ) {
    .page-hed {
        font-size: 2.4em;
    }
}


.post-copy p {
    max-width: 42.5em;
    line-height: 1.55;
}
.post-copy a {
    text-decoration: underline;
    text-decoration-color: rgba(240, 73, 56, 1);
}
.post-copy a:hover {
    text-decoration: none;
}
.post-copy h3,
.post-copy h4 {
    font-family: Sofia, sans-serif;
    text-transform: uppercase;
    margin: 2.75em 0 0 0;
    letter-spacing: .045em;
}
.post-copy h4 {
    font-size: .95em;
}
.post-copy h3,
.post-copy h4 {

}

.post-copy figure {
    margin: 1.5em 0;
    padding: 0;
}

.inline-capt {
    font-size: 1.1em;
    margin-top: .25em;
    font-style: italic;
}

.tmpl-post .page-hed {
    font-size: 2.2em;
    padding-bottom: .5em;
    margin-bottom: .75em;
}
@media( min-width: 34em ) {
    .tmpl-post .page-hed {
        font-size: 6.5vw;
    }
}
@media( min-width: 54em ) {
    .tmpl-post .page-hed {
        font-size: 3.5em;
    }
}

.page-lede {
    margin: 1.5em 0 0 0;
    max-width: 35em;
    font-size: 1.5em;
    line-height: 1.25;
}

.hero {
    font-size: 1.25em;
    padding-right: 2em;
    font-weight: 100;
}

@media( min-width: 50em ) {
    .hero {
        font-size: 2.5vw;
    }
}
@media( min-width: 60em ) {
    .hero {
        font-size: 1.5em;
        line-height: 1.3;
    }
}
.hero p {
    font-size: .95em;
}
.hero li {
    font-size: .875em;
    margin: .55em 0;
}
.hero strong,
.hero b {
    font-weight: bold;
}

.tmpl-post .hero {
    margin-bottom: .75em;
}
.tmpl-post .hero p {
    font-style: italic;
    font-weight: bold;
}
.tmpl-post .hero p {
    font-size: 1.2em;
}
@media( min-width: 36em ) {
    .tmpl-post .hero {
        font-size: 2.5vw;
    }
}
@media( min-width: 52em ) {
    .tmpl-post .hero {
        font-size: 1.3em;
    }
}

.year-hed {
    font-family: Sofia, sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 6.5em;
}
.sub-body .year-hed:first-of-type {
    margin-top: 0;
}
.postdate,
.month-hed {
    font-size: .8em;
    margin-top: .2em;
    padding-top: .25em;
    letter-spacing: .055em;
    font-family: Sofia, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.postdate {
    margin-left: .5em;
}
.month-hed {
    margin-top: 7.5em;
    text-align: right;
}
.year-hed+.month-hed {
    margin-top: .25em;
}

.tmpl-blog .post p {
    font-size: 1.1em;
    padding-right: 5%;
}

.post-hed {
    font-family: Sofia, sans-serif;
    font-size: 1.8em;
    margin: 0 0 .35em 0;
    padding-bottom: .35em;
    position: relative;
}

.post-hed:after {
    content:"";
    display: block;
    width: 10%;
    height: 3px;
    border-radius: 2px;
    background: #f04938;
    position: absolute;
    bottom: 0;
    left: 0;
}

.post-hed + p {
    margin-top: .35em;
}

.bio p {
    font-family: Sofia, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
}

label {
    margin-top: .2em;
    padding-top: .25em;
    letter-spacing: .065em;
    text-transform: uppercase;
    font-family: Sofia, sans-serif;
}
input,
textarea {
    font-size: 1.4em;
    font-family: Sofia, sans-serif;
    padding: .25em;
}
input {
    font-family: Sofia, sans-serif;
}
textarea {
    font-family: Domaine, serif;
    font-size: 1.1em;
    padding: .75em 1.5em .75em .75em;
}


.pagination {
    font-family: Sofia, sans-serif;
    text-transform: uppercase;
    letter-spacing: .045em;
    font-size: .95em;
}

.copyright {
    display: block;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
    font-size: .95em;
    padding-top: .75em;
    max-width: 100%;
}

@media( min-width: 45em ) {
    .copyright {
        text-align: right;
    }
}

.credit {
    font-size: .9em;
}