---
permalink: _redirects
---

/a-glass-of-ux-neat/ https://archive.thefutureislikepie.com/a-glass-of-ux-neat/
/on-agency-roles/ https://archive.thefutureislikepie.com/on-agency-roles/
/client-involvement-in-web-development/ https://archive.thefutureislikepie.com/client-involvement-in-web-development/
/so-ive-got-this-presentation/ https://archive.thefutureislikepie.com/so-ive-got-this-presentation/
/omahas-got-content-strategists/ https://archive.thefutureislikepie.com/omahas-got-content-strategists/
/fun-with-page-tables/ https://archive.thefutureislikepie.com/fun-with-page-tables/
/battle-hymns/ https://archive.thefutureislikepie.com/battle-hymns/
/testing-the-waters-a-bit-then/ https://archive.thefutureislikepie.com/testing-the-waters-a-bit-then/
/more-excuses/ https://archive.thefutureislikepie.com/more-excuses/
/im-going-to-bed-now/ https://archive.thefutureislikepie.com/im-going-to-bed-now/
/so-now-im-a-copywriter/ https://archive.thefutureislikepie.com/so-now-im-a-copywriter/
/progress/ https://archive.thefutureislikepie.com/progress/
/hi/ https://archive.thefutureislikepie.com/hi/
/todays-bit-of-validation/ https://archive.thefutureislikepie.com/todays-bit-of-validation/
/figuring-out-content-modeling/ https://archive.thefutureislikepie.com/figuring-out-content-modeling/
/remove-from-device/ https://archive.thefutureislikepie.com/remove-from-device/
/aaaaaaaaand-were-back/ https://archive.thefutureislikepie.com/aaaaaaaaand-were-back/
/its-january-1/ https://archive.thefutureislikepie.com/its-january-1/
/tell-me-a-story-about-your-name-here/ https://archive.thefutureislikepie.com/tell-me-a-story-about-your-name-here/
/the-personal-is-professional-why-you-should-go-to-dare/ https://archive.thefutureislikepie.com/the-personal-is-professional-why-you-should-go-to-dare/
/look-over-there/ https://archive.thefutureislikepie.com/look-over-there/
/the-biggest-umbrella/ https://archive.thefutureislikepie.com/the-biggest-umbrella/
/i-went-to-confab-and-it-was-pretty-much-the-best-week-of-my-life/ https://archive.thefutureislikepie.com/i-went-to-confab-and-it-was-pretty-much-the-best-week-of-my-life/
/this-is-what-conferences-are-made-of/ https://archive.thefutureislikepie.com/this-is-what-conferences-are-made-of/
/fuq/ https://archive.thefutureislikepie.com/fuq/
/big-news-for-the-new-year/ https://archive.thefutureislikepie.com/big-news-for-the-new-year/
/if-you-use-one-piece-of-punctuation-in-2013-let-it-be-the-oxford-comma/ https://archive.thefutureislikepie.com/if-you-use-one-piece-of-punctuation-in-2013-let-it-be-the-oxford-comma/
/what-we-need-here-is-a-cookie-strategy/ https://archive.thefutureislikepie.com/what-we-need-here-is-a-cookie-strategy/
/why-i-stayed-why-i-left/ https://archive.thefutureislikepie.com/why-i-stayed-why-i-left/
/harder-better-faster-stronger/ https://archive.thefutureislikepie.com/harder-better-faster-stronger/
/how-to-have-a-conversation/ https://archive.thefutureislikepie.com/how-to-have-a-conversation/
/lessons-in-audience-based-reasoning/ https://archive.thefutureislikepie.com/lessons-in-audience-based-reasoning/
/thisthatthatthis/ https://archive.thefutureislikepie.com/thisthatthatthis/
/because-its-not-create-once-publish-haphazardly/ https://archive.thefutureislikepie.com/because-its-not-create-once-publish-haphazardly/
/im-just-saying-there-are-options/ https://archive.thefutureislikepie.com/im-just-saying-there-are-options/
/lady-at-work/ https://archive.thefutureislikepie.com/lady-at-work/
/whats-going-on-in-the-kitchen/ https://archive.thefutureislikepie.com/whats-going-on-in-the-kitchen/